  /*boton*/
  section {
    div {
      a:hover {
        background-color: darkorange;
        text-decoration: none;
        font-weight: bolder;
        color: white;
      }
    }
  }

  section {
    div {
      a {
        display: block;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        font-size: 18px;
        background-color: $colorFondoNav;
        margin-top: 15px;
        margin-bottom: 15px;

      }
    }
  }

  ul {
    li:hover {
      ul {
        display: block;
      }
    }
  }


  /* secciones index*/

  main {
    section {
      div {
        h2 {
          text-align: map-get($titulos, centrado);
          margin-top: 15px;
          margin-bottom: 15px;
          font-size: 45px;
        }
      }
    }
  }

  section {
    div {
      h3 {
        text-align: map-get($titulos, centrado);
        padding: 2%;

      }
    }
  }



  div {
    h1 {
      text-align: map-get($titulos, centrado)
    }
  }

  h4 {
    text-align: map-get($titulos, centrado)
  }



  section {
    article {
      h2 {
        text-align: left;       
        margin-bottom: 3%;
        margin-top: 3%;
      }
    }
  }

  .servicios {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 33%;


    @include responsive (pc) {
      flex-direction: row;

    }

    @include responsive (tablet) {
      flex-direction: row;
    }

    @include responsive (mobile) {
      flex-direction: column;
      justify-content: space-between;
    }

  }


  main {
    section {
      div {
        article {
          flex-basis: 30%;
          text-align: map-get($titulos, centrado);
        }
      }
    }
  }

  main {
    section {
      div {
        article {
          ul {
            li {
              text-align: map-get($textos, centrado);
            }
          }
        }
      }
    }
  }

  article {    
      ul {
        li {
          text-align: map-get($textos, centrado);
        }
        }
  }

  main {
    div {
      article {
        h4 {
          margin-top: 5%;
          margin-bottom: 8%;
        }
      }
    }
  }

  /*otros servicios*/
  main {
    section {
      div {
        article {
          h3 {
            margin-top: 5%;
            margin-bottom: 8%;
          }
        }
      }
    }
  }

  /*quienes somos*/
  main {
    div {
      iframe {
        margin-left: 2%;
        margin-bottom: 2%;
        width: 100%;
      }
    }
  }


  /* formulario*/

  form {
    margin: auto;
    width: 100%;
    background-color: rgb(17, 19, 17);
    padding: 30px;
    border-radius: 10px;
  }

  input,
  textarea {
    padding: 10px;
    width: 100%;
    height: 100%;
    margin: auto;
    color: rgb(10, 1, 1);

  }

  /* incorporando extend*/
  .servicios--qs {
    display: flex;
    flex-direction: row;
    padding: 5px;
    text-align: justify;
    
    @include responsive (pc) {
      flex-direction: row;

    }

    @include responsive (tablet) {
      flex-direction: column;
    }

    @include responsive (mobile) {
      flex-direction: column;
      justify-content: space-between;
    }

    /* @extend .servicios;
flex-direction: column;*/
  }

  /*otros servicios*/
  main {
    h2 {
      margin-bottom: 2%;
      margin-top: 3%;
    }
  }