/* variables*/
 
$colorFondoNav: black;
$colorHoverNav: darkorange;


/*map*/

$titulos: (
    color: white,
    centrado: center,
    
);

$textos: (
    izquierda: left,
    derecha:  right,
    centrado: center,

);